/* .block {
  background-color: red;
  width: 200px;
  height: 200px;
}
.block:hover {
  background-color: blue;
  width: 300px;
  transition: background-color 1s,widnt 4s;
  
} */
/* .loading {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border-top: 16px solid red;
  border-bottom: 16px solid green;
  border-right: 16px solid yellow;
  border-left: 16px solid blue; */
  /* animation-name: spin;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear; */
  /* animation: spin 2s linear infinite alternate-reverse;
}

.loading:hover {
  animation: spin 2s linear infinite;
} */

/* @keyframes spin {
  0% {
    transform: rotate(0deg);
    transform: scale(1);
  }

  20% {
    transform: scale(1.3);
  }

  40% {
    transform: scale(1);
  }

  100% {
    transform: rotate(360deg);
    transform: scale(2);
  }
} */
